body{
    background-color: rgb(24, 22, 22);
    color: white;
}
.btn-green{
    background-color: #31d115 ;
    color: antiquewhite;
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 1.1em;
}
.btn-white{
    background-color:antiquewhite;
    color: #31d115 ;
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 0.8em;
}
.m-5{
    margin: 0.5em;
}
.red{
    color: red;
}
.green{
    color: #31d115 ;
}
.btn-clignote  {
animation-duration: 2s;
animation-name: clignoter;
animation-iteration-count: infinite;
transition: none;
}
@keyframes clignoter {
 0%   { opacity:1; }
 40%   {opacity:0; }
 100% { opacity:1; }
}